*{
    margin: 0;
}

html {
    background-color: #334c74;
}
body {
    font-family: 'silkscreennormal', sans-serif;
    font-size: 1.4em;
    width:100%;
    height:100%;
    overflow:hidden;
    text-shadow: 3px 3px 0 #2a3c58;
    color:#d1d1d1;
}
hr{
    margin-bottom:10px;
    width:100%;
    border-color:#334150;
}
li{
    list-style-type: none;
}

a{
    color: #d1d1d1;
    text-shadow: 5px 5px 0 #2a3c58;
}

.hero,
.opponent{
    position:absolute;
    bottom:170px;
    left:300px;
}
.ground{
    position:absolute;
    bottom:0px;
    height:177px;
    width:100%;
    background-color: #1e2025;
}
.bgcontainer{
    background-color:#334150;
    position:absolute;
    width:100%;
    height:100%;
    z-index:-100;
    overflow:hidden;
}
.clouds{
    width:200%;
    height:410px;
    background-image:url('../images/clouds.png');
    position:relative;
    top:200px;
    -webkit-animation: cloudmove 30s linear infinite;
}
.createCharacterMenu{
    width: 300px;
    margin: 200px auto;
    color: #d1d1d1;
    text-shadow: 5px 5px 0 #2a3c58;
}
.characterList{
    width: 300px;
    margin: 200px auto;
}
.gender_button{
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}
.gender_button#male{
    background: #adddff;
    border: #00548e 1px solid;
}
.gender_button#male:hover{
    background: #d6edfd;
}
.gender_button#female{
    background: #ffdafc;
    border: #a40097 1px solid;
}
.gender_button#female:hover{
    background: #ffe8fd;
}
.characterInfo{
    margin-left: auto;
    margin-right: auto;
    background-color: #334c75;
    width: 300px;
    padding: 10px;
    color: #d1d1d1;
    -webkit-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    -moz-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
}
.charactMenu{
    margin-left: auto; margin-right: auto;
    width:450px;
    overflow: hidden;
}
.charactMenu a {
    float: left;
    width: 112px;
    padding: 9px;
    margin: 10px;
    margin-top: 18px;
    background-color: #334c75;
    text-align: center;
    font-size: 1em;
    text-decoration:none;
    color: #d1d1d1;
    position:relative;
    -webkit-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    -moz-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
}
.charactMenu a:hover{
    top:-5px;
}
.charactMenu #getQuest,
.charactMenu #acceptedQuest{
	width: 30px;
	color: #ffe100;
}
/*fonts*/
@font-face {
    font-family: 'silkscreennormal';
    src: url('../fonts/slkscr-webfont.eot');
    src: url('../fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/slkscr-webfont.woff') format('woff'),
         url('../fonts/slkscr-webfont.ttf') format('truetype'),
         url('../fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*animations*/
@-webkit-keyframes cloudmove
{
0%   {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-640px);}
}


/*shu added*/
.quest_popup{
    width: 500px;
    min-height: 300px;
    background: #3b3b3b;
    display: none;
    font-family: 'silkscreennormal', sans-serif;
    text-shadow: 3px 3px 0 #2a3c58;
    margin: 0 auto;
    position: relative;
    z-index: 99;
       -webkit-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    -moz-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
}
.quest_row{
    text-align: left;
}
.quest_row:hover{
    background: #d3d3d3;
    cursor: pointer;
}
.quest_description{
    display: none;
    background: #3b3b3b;
    color: #fff;
       -webkit-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    -moz-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
}

.mob_menu,
.inventory_menu{
    width: 250px;
    min-height: 300px;
    background: #334c75;
    margin-left: 50px;
    font-family: 'silkscreennormal', sans-serif;
    text-shadow: 3px 3px 0 #2a3c58;
    padding: 10px;
       -webkit-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    -moz-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
}
.inventory_menu{
    float: right;
    margin-right: 50px;
    margin-top: -320px;
}

.mob_menu h1,
.inventory_menu h1{
    font-size: 18px;
}

.mob_results,
.suggested_mob_results{
    min-height: 100px;
}

.mobMenu{
    width: 250px;
    min-height: 100px;
    margin-top:20px;
    background: #334c75;
    float: right;
    font-family: 'silkscreennormal', sans-serif;
    text-shadow: 3px 3px 0 #2a3c58;
    overflow:hidden;
    padding:15px;
    margin-right:20px;
     -webkit-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    -moz-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
}

.battleField{
    width: 480px;
    min-height: 52px;
    margin: 0 auto;
    overflow: hidden;
    background: #334c75;
    font-family: 'silkscreennormal', sans-serif;
    text-shadow: 3px 3px 0 #2a3c58;
       -webkit-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    -moz-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    overflow:hidden;
    padding:15px;
}
.playerField{
    width: 150px;
    float: left;
}
.opponentField{
    width: 150px;
    float: right;
}
.battleStatus{
    font-family: 'silkscreennormal', sans-serif;
    text-shadow: 3px 3px 0 #2a3c58;
    display: none;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
button{
    width: auto;
    border:0 none;
    overflow:hidden;
    padding:5px;
    background: #4c5d7a;
     -webkit-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    -moz-box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    box-shadow: 7px 7px 0 rgba(0,0,0,0.29);
    font-family: 'silkscreennormal', sans-serif;
    text-shadow: 3px 3px 0 #2a3c58;
    color:#d1d1d1;
    margin-bottom:10px;

}